.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  .navigation {
    width: 300px;
    height: 100%;
    border-right: 1px solid #8a8a8a;
  }

  .content {
    flex: 1;
    padding: 16px;
  }
}